<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AptabaseAppKey</key>
	<string>A-EU-2866574831</string>
	<key>AptabaseHost</key>
	<string>https://aptabase-endpoint-h42wr.bunny.run</string>
	<key>GitHubOwner</key>
	<string>jorisnoo</string>
	<key>GitHubRepo</key>
	<string>GDSPlayer</string>
</dict>
</plist>
