<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnalyticsEnabled</key>
	<true/>
	<key>AnalyticsAPIURL</key>
	<string>https://app-analytics.test/api/events</string>
	<key>AnalyticsAPIToken</key>
	<string>1|u8EFvVZUvvjF96cNP4JzipTYL0jnrbCEtV9nyrX6629b376f</string>
	<key>GitHubOwner</key>
	<string>jorisnoo</string>
	<key>GitHubRepo</key>
	<string>GDSPlayer</string>
</dict>
</plist>
